ul {
    margin: 100px 300px
}
li:nth-of-type(odd)::marker {
    content: "\25A0    ";
    font-size: 12px;
}
li:nth-child(1) {
    color: red;
}
li:nth-of-type(3n+3) {
    color: rgba(2, 2, 255, 0.623);
}
li:nth-of-type(5n+5) {
    background-color: rgba(241, 241, 0, 0.349);
}
li:nth-of-type(4n+4) {
    letter-spacing: 5px;
}
li:nth-of-type(even) {
    text-decoration: underline;
    font-weight: bold;
}
li:nth-of-type(7n+7) {
    font-size: 22px;
    font-weight: bold;
}
li:nth-of-type(7)::marker {
    content: "\25A0   ";
    font-size: 17px;
}
li:nth-of-type(13n+13) {
    background-color: rgba(218, 16, 16, 0.596);
}