*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.index-div {    
    height: 700px;
    width: 500px;
    background-image: url("https://images.unsplash.com/photo-1503435980610-a51f3ddfee50?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Zm9yZXN0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    margin: 50px auto;
    text-align: center;
    border: 2px solid black;
}
h1 {
    padding: 40px;
}

a {
    text-decoration: none;
    border: 1px solid rgb(90, 88, 88);
    border-radius: 40px;
    padding: 10px;
    color: rgb(0, 0, 0);
}
