*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Chris;
    src: url(./FrederickatheGreat-Regular.ttf);
}
main {
    background-image: url("./daylily-g316d44514_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 820px;
    width: 95%;
    margin: 50px auto;
}
h1 {
    font-family: chris;
    padding: 15px 80px;
    color: white;
}
div:nth-child(2){
    text-align: center;
    margin-top: 300px;
    color: white;
}
h2 {
    font-family: chris;
    padding-bottom: 30px;
}
h3 {
    padding-bottom: 30px;
}
a{
    text-decoration: none;
    border: 1px solid rgb(255, 225, 225);
    border-radius: 5px;
    padding: 10px;
    color: rgb(255, 255, 255);
}