$twitter:#1da1f2;
$behance:#1769ff;
$facebook:#1877f2;
$vimeo:#1ab7ea;
$snapchat:#fffc00;
$airbnb:#fd5c63;
$amazon:#ff9900;
$android:#a4c639;
$stackoverflow:#f48024;
$ubuntu:#dd4814;
$github:#4078c0;
$js:#f7df1e;