body {
  width: 600px;
  margin: 0 auto;
}
section {
    background-image: url("https://www.w3schools.com/css/gradient_bg_vertical.png");
    background-repeat:repeat-y;
}
article {
    background-image: url("https://fastly.picsum.photos/id/291/200/300.jpg?hmac=5htP1HYHWPOMv5wbTtTsh6GjRk__SPxuXIv6gHLBHHg");
    background-repeat: no-repeat;
    background-position: right top;
}