body {
    width: 600px;
    margin:auto;
}
h3::first-letter{
    color:#00796B;
    font-size: 3em;
}
h3:hover::first-letter {
    color:#4FC3F7;
}
li:nth-child(1)::first-letter {
    color:#4FC3F7;
    font-size: 2em;
    text-decoration: overline;
}
li:nth-child(2)::first-letter {
    color:#C51162;
    font-size: 2em;
    text-decoration: underline;
}
li:nth-last-child(1)::first-letter {
    color:#64DD17;
    font-size: 2em;
}
li:nth-last-child(1) {
    text-decoration: line-through black;
}
p:nth-child(1) {
    color:#8096a1;
    text-indent: 50px;
}
p:nth-child(1)::first-line {
    font-size: 1.3em;
}
p:not(:first-child)::first-letter {
    color:#D50000;
    font-size: 1.5em;
}
P:not(:first-child)::first-line {
    color:green;
}
p:not(:first-child):hover::first-line {
    color:#303F9F;
}
p:nth-of-type(even) {
    font-weight: 600;
}