* {
    margin:0;
    box-sizing: border-box;
}
header {
    background: url("./juniperphoton-ri90cak5u7E-unsplash.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    padding-top: 10vh;
}
h1 {
    text-align: center;
    width: 90vw;
    padding: 15px;
    margin:0 auto;
    color: white;
    background-color: rgba(245, 245, 245, 0.452);
    border-radius: 10px;
}
