main {
    display: flex;
}



section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
    width: 50vw;
    border: 2px solid black;
}
section:nth-of-type(1){
    animation: move 2s infinite;
}
section:nth-of-type(2){
    animation: move 1.6s infinite;
}
section:nth-of-type(3){
    animation: move 1.2s infinite;
}
section:nth-of-type(4){
    animation: move 0.8s infinite;
}
section:nth-of-type(5){
    animation: move 0.4s infinite;
}
section:nth-of-type(6){
    animation: move 0.1s infinite;
    background-color: red;
}

@keyframes move {
     0%{
        background-color: black;
        border: 2px solid white;
        color: white;
    }
}